.sidebar {
    width: 240px;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.small-sidebar {
    width: 72px;
}

.shortcut-link img {
    width: 20px;
    margin-right: 20px;
}

.side-links {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

.side-links p {
    white-space: nowrap;
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
    width: 90%;
}

.subscribed-list h3 {
    font-size: 13px;
    margin: 20px;
    color: #5a5a5a;
}

.subscribed-list img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.shortcut-link .active img {
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}

/* Sidebar Collapse Behavior */
.small-sidebar .side-links p,
.small-sidebar h3 {
    display: none;
}

.small-sidebar .side-links {
    justify-content: center;
}

.small-sidebar hr {
    width: 50%;
    margin: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 72px;
    }

    .sidebar p,
    .sidebar h3 {
        display: none;
    }

    .side-links {
        justify-content: center;
    }
}
