.play-container {
    background: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Layout for desktop screens */
.play-container > div:first-child {
    flex: 0.7;
}

.play-container > div:last-child {
    flex: 0.28;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .play-container {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    .play-container > div:first-child,
    .play-container > div:last-child {
        flex: 1;
        width: 100%;
    }
}
